body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  //--dg-content-max-width: 1000px;
  --dg-filetree-width: 300px;
  --dg-filetree-title-size: 28px;

  .canvas-node-text-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      margin: 0;
    }

    > * + * {
      margin-top: 6px;
    }
  }
}
