body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  //--dg-content-max-width: 700px;
  --dg-filetree-min-width: 250px;
  --dg-filetree-width: 400px;
  --dg-filetree-title-size: 28px;
}
